<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjv_3Mm-d8F5P7PhGKKGEx3Of5tdgKQyk</string>
	<key>GCM_SENDER_ID</key>
	<string>541600836484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotify</string>
	<key>PROJECT_ID</key>
	<string>spotify-4e41c</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-4e41c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541600836484:ios:40e7775ab39b30dd334bd1</string>
</dict>
</plist>